body {
	text-align : center;
	font-family : Tahoma;
	font-size : 14px;
	background-color : black;
}
.all {
	text-align : left;
	width : 700px;
	margin : 100px auto;
	min-height : 600px;
	background-image : url(bg.jpg);
	border : 4px solid red;
}

#screwdriver {
position: absolute;
right:364px;
top: 250px;
}

#screwdriver:hover {
position: absolute;
right:359px;
top: 245px;
}

#saw {
position: absolute;
left: 330px;
top: 200px;
}

#saw:hover {
position: absolute;
left: 325px;
top: 195px;
}

#toolbox {
position: absolute;
right: 640px;
top: 340px;
}

#title {
	position: absolute;
	bottom: 554px;
}

#title:hover {
	position: absolute;
	bottom: 550px;
}

#pincers {
position: absolute;
right: 364px;
top: 350px;
}
#pincers:hover {
	position:absolute;
	right: 355px;
	top: 345px;
}

#hammer {
	position: absolute;
	right: 510px;
	top: 47px;
}

#hammer:hover {
	position: absolute;
	right: 505px;
	top: 42px;
}

#kleur {
	color: blue;
}

h1 {
	background-color: white;
	opacity: 1.2;
	margin: 0px;
}
p {
	background-color: white;
	opacity: 1.0;
	margin: 0px;
}

.text{
margin-top: 400px;
background-color: white;
opacity: 0.5;
}

.tooltip {
    position: relative;
    display: inline-block;
		background-color: white;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
		background-color: white;
    text-align: center;
    border-radius: 6px;
		border: 2px solid blue;
    position: absolute;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
		background-color: white;
}



ul {
	visibility: hidden;
	background-color: white;
	color: black;
	border radius: 6px;
	font-size: 13px;
	position: absolute;
	z-index: 1;
	top: 130px;
	border: 2px black solid;
	padding: 0px;
}
#toolbox:hover ul{
	visibility: visible;
}
#work {
	display: block;
	padding: 10px;
	border: 2px solid black;
	width: 100px;
	text-align: center;
	color: black;
}

nav {
	background: linear-gradient(black, gray);
	margin: 0px;
	border radius: 6px solid #FFF;
	color: #A0A0A0;
	width: 950px;
	margin: auto;
	padding: 6px;


}
#bar {
	padding: 5px;
	list-style: none;
	display: inline;
	float: center;
	text-decoration: none;
}

nav:hover{
		background: linear-gradient(#F0F0F0,#F0F0F0);
	  font-weight: bold;
}
nav li a {
	text-decoration: none;
}

#work:hover{
	background-color: #FFFFAA;
	color: black;
}

#work a {
	text-decoration: none;
}
nav a{
	color: grey;
}
nav a:hover{
	color: black;
}
